html {
  overflow-x: hidden;
}
.container {
    max-width: 960px;
  }

  /*
   * Custom translucent site header
   */

  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  /*
   * Extra utilities
   */

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }

  /*Navbar Expand custom breakpoint*/
  @media (min-width: 1020px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

  .overflow-hidden { overflow: hidden; }

  /**Custom Styles Here**/


  .footer-image {
      height: 150px;
  }

  .content-section {
    width: 80%;
    min-height: 300px;
    border-radius: 21px;
    margin-bottom: 4em;
  }

  .content-section p {
    padding: 2em;
  }

  .content-section p, .content-section ul {
    text-align: left;
  }

  .content-section img {
    max-width: 100%;
    padding: 2em; 
  }

  .wireframe-imgs {
    height: 500px;
    margin-top: -2em;
  }

  .uat-table img {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-logo {
      height: 400px;
  }


  /*Style the footer*/
  .footer {
    flex-shrink: 0;
    background-color: #f5f5f5;
  }

  /*Website body*/
html, body {
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

/*Style the body*/
body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', cursive;
}

/*Column general*/
.column {
  background-color: #FFFFFF;
  flex: 100%;
  padding: 10px;
}

/*Column for profile description*/
.column-left {
  background-color: #FFFFFF;
  flex: 70%;
  padding: 10px;
}

/*Column for profile photo*/
.column-right {
  background-color: #FFFFFF;
        flex: 30%;
  padding: 10px;
  height: 300px;
}

/*Avatar*/
.avatar {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*Avatar Tiny*/
.avatar-tiny {
  border-radius: 50%;
  width: 80px;
  float: left;
  margin: 20px;
  padding: 10px;
}
